*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Monsieur+La+Doulaise&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fbfb;
  color: #fff;
  overflow-x: hidden;
}
nav li{
        list-style: none;
    }
nav a{
text-decoration: none;
    color: #f5f5f5;
    font-size: 1rem;
    transition: .3s ease;
    padding: 7px;
    border-radius: 5px;
}
ul a:hover{
    color: rgb(255, 183, 0);
    background-color: rgb(254, 255, 255,0.1);
}
header{
    padding: 5px 2rem;
    justify-content: space-between;
    /* background: linear-gradient(55deg, rgba(159, 0, 0, 0.936), rgba(58, 65, 65, 0.957)); */
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20230416/pngtree-burger-restaurant-food-background-image_2409560.jpg') ;
     position: relative; 
     z-index: 100;
}
header:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  background:rgba(12, 1, 1, 0.799); 
  filter: blur(6px);
  transform: scale(1.1);
  z-index: -1;
  opacity: 0.9;
}
.navber{
    width: 100%;
    height:60px;
    margin: 0 auto;
    max-width: 1400px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navber .logo a{
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
}
.navber .links{
    display: flex;
    gap: 2.7rem;
    margin-left: 100px;
}
.navber .toggle_btn{
     font-size: 1.7rem;
         color: #ffffff;
         display: none;
  }
.action_btn{
   background: linear-gradient(135deg, #ffe600, #ff9900);
   padding: 0.5rem 1rem;
   border-radius: 20px;
   border: none;
   outline: none;
   font-size: 0.8rem;
   font-weight: bold;
     cursor: pointer;
   transition: 3s ease;
   color: black;
}
.action_btn:hover{
   transform: translateY(-3px) scale(1.03);
   box-shadow: 0 8px 20px rgba(222, 11, 7, 0.4);
   background: linear-gradient(135deg, #ff8800, #ffe600);
}
.icon_and_btn_gap{
   color: #f5f5f5;   gap: 20px;
   display: flex;
}
.dropdown_menu{
 display: none;
}
  /* Dropdown Menu */
.dropdown_menu{
   position: absolute;
   right: 2rem;
   top: 75px;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 10px;
   overflow: hidden;
   width: 300px;
   backdrop-filter: blur(15px);
   height: 0;
   transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   z-index:100;
   }
.dropdown_menu.open{
   height: 350px;
}
.dropdown_menu li{
    padding: 1rem;
    text-align: center;
}
.dropdown_menu li a:hover{
        color: #ff8800;
    }
.dropdown_menu .action_btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }
.dropdown_menu_icon_display_flex{
        display: flex;
        justify-content: center;
        color: rgb(254, 255, 255);
    }
        
 
/* Hero Section */
 .hero {
  background: url('/imges/hero-bg.jpg') center/cover no-repeat ;
  height: 100vh;
  background: url('https://png.pngtree.com/thumb_back/fh260/background/20230416/pngtree-burger-restaurant-food-background-image_2409560.jpg')no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.hero:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.1); 
  filter: blur(6px);
  transform: scale(1.1);
  z-index: -1;
  opacity: 0.9;
}
.text-box{
  height: 100vh;
  display: flex;
  justify-content: start;
  top: 100px;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin:0 auto;
}

.text-slide {
   position: absolute;
   max-width: 700px;
   padding: 10px 10px 10px 60px;
   border-radius: 10px;
   opacity: 0; 
   position: absolute;
   transform: translateX(100%);
   transition: all 1s ease;
}

 .text-slide.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
  text-align: left;
} 

.text-slide.exit {
  transform: translateX(-100%);
  opacity: 0;
}
.text-box{
  max-width: 1400px;
  margin: 0 auto;
} 
.text-slide h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  margin-bottom: 15px;
  text-align: left;
}

.text-slide p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.7rem;
  text-align: left;
}
.btn{
  background: linear-gradient(135deg, rgba(255, 166, 0, 0.922), rgb(255, 47, 0));
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 4px 10px rgba(211, 232, 255, 0.3);
}

.btn:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 123, 255, 0.4);
  background: linear-gradient(135deg, rgb(255, 47, 0)),rgba(255, 166, 0, 0.922);
}
.Order_main_section_max_width{
  max-width: 1400px;
  margin: 0 auto;
}
.Order-div-continer-display-flex-gap{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px;
  margin-top: 50px;
}
.Order-box-div{
  display: flex;
  background: rgba(15, 15, 15, 0.945);
  border-radius: 7px;
  place-items: center;
  padding: 25px;
  gap: 20px;
  padding-left: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.images-div img {
  border: 4px solid #fd9e0e;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  transition: transform 0.5s ease;
} 

.Order-box-div:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.title-text-font-famyle-font-size{
  font-family: 'Great Vibes', cursive;
  
}
.font-number-size-font-famyle{
   font-size: 50px;
   font-family: 'Great Vibes', cursive;
}
.span-font-size-small{
  font-size: 15px;
}
.Order_Now_btn{
  background: linear-gradient(135deg, rgba(255, 166, 0, 0.922), rgb(255, 47, 0));
  color: #feffff;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  text-align: center;
  border: none;
  font-size: 1.1rem;
}
.Order_Now_btn:hover{
  background: linear-gradient(135deg, rgba(206, 251, 254, 0.922), rgb(255, 188, 188));;
  color: #000;
}

.Our-menu-font-famyle-change{
  font-size: 40px;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  color: #000;
  margin-top: 60px;
}
.All-foods-nav-menu-test ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  justify-content: center;
  margin-top: 60px;
}

.All-foods-nav-menu-test li a {
  text-decoration: none;
  color: rgba(17, 17, 17, 0.904);
  padding: 6px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

/* Hover effect */
.All-foods-nav-menu-test li a:hover {
  background-color: #eee;
}

/* Active link */
.All-foods-nav-menu-test li a.active {
  background-color: #0b011e;
  color: white;
}

.food-all-box-main-div-dispaly-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:25px;
  padding: 20px 40px 0px;
  margin-top: 30px;
  max-width: 1300px;
  margin: 50px auto;
}
.food_box_card{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 12px;
  overflow: hidden;
  color: #fff;
  background: #dcdcdc;
  box-shadow: 0 4px 5px rgba(11, 16, 84, 0.662);
  cursor: pointer;
  flex-direction: column;
  transition: .5s ease;
}
.food_box_card:hover img{
  transform: scale(1.1);
  cursor: pointer;
}
.food_box_card:hover{
     transform: translateY(-5px);
}
.Food_images_border_radius_change img{
  width: 60%;
  height: 220px;
  display: block;
  transition: transform 0.3s ease-in-out;
  margin: 0 auto;
  padding: 20px 20px
}

.Food_images_border_radius_change img{
  margin:  0 auto;
}
.Food_title_and_ditalse_box{
  padding: 20px;
  flex-grow: 1;
  background:  #1b1b1b;
  border-radius: 5px 5px 0 0;
}
.Food_title_and_ditalse_box h2{
  margin:0 0 10px;
  font-family: "Monsieur La Doulaise", cursive;
}
.Food_title_and_ditalse_box p{
  font-size: 14px;
  color: #ccc;
  margin-bottom: 15px;
  line-height: 25px;
}
.shopping_logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.shopping_logo p{
  color: #fdad0e;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.shopping_logo a {
  color: #f9fbfb;
  position:relative;
  top: 6px;
}
.fa-i-background{
  background-color:#fdad0e;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
}
.container_view_more_btn{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 40px;
 
}
.View_More_btn{
  padding: 12px 45px;
  background: linear-gradient(135deg, #ffe600, #ff9900);
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}
.View_More_btn:hover{
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 123, 255, 0.4);
  background: linear-gradient(135deg, #ff8800, #ffe600);

}

.about_main_contaner{
    background:#1b1b1b;
    margin-top: 50px;
}

.about_img_and_ditalse_display_flex{
  max-width: 1400px;
  margin: 0 auto; 
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  align-content:  center;
}
.feane_div_font_famely_cange{
  text-align: left;
  margin-top: 250px;
  padding: 1rem 3rem 1rem 0;
}
.feane_div_font_famely_cange h2{
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
}
.feane_div_font_famely_cange p{
  line-height: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .about-img-div{
    text-align: center;
    padding: 3rem 1rem;
 }
.test-btn{
   background: linear-gradient(135deg, rgba(255, 173, 21, 0.922), rgb(255, 47, 0));
  border: none;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 25px;
  letter-spacing: 0.5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 4px 10px rgba(211, 232, 255, 0.3);
  width: fit-content;
}
.test-btn a{
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
.test-btn:hover{
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 123, 255, 0.4);
  background: linear-gradient(135deg, rgb(255, 47, 0)),rgba(252, 169, 15, 0.922);
}
.Book_A_able_main_contaner{
   display: grid;
   padding: 2rem;
   grid-template-columns: repeat(2,1fr);
   gap: 35px;
   max-width: 1400px;
   margin: 0 auto;
}
.Book_A_able_main_contaner h2{
  color: #000;
  font-family:  'Great Vibes', cursive;
  font-size: 35px;
}
.user-input-div {
  padding: 20px;
}
.user-input-div input{
  display: block;
  margin-top: 25px;
  padding: 15px;
  width: 100%;
  font-size: 17px;
  border-radius: 7px;
  border: 1px solid black;
}
.maps-div{
  padding-top: 25px;
  margin-top: 0px;
  }
  .maps-div h2{
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    color:black;
    margin-bottom: 20px;
  
  }
.Book_now_btn{
  padding: 12px 45px;
  background: linear-gradient(135deg, #ffe600, #ff9900);
  color: #fff;
  width: fit-content;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 4px 10px rgba(255, 98, 0, 0.3);
  margin-top: 20px;
}
.Book_now_btn a{
  text-decoration: none;
  color: #000;
}
.Book_now_btn:hover{
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 8px 20px rgba(1, 172, 175, 0.4);
  background: linear-gradient(135deg, #ff8800, #ffe600);
}
.Our_Customers_box{
  max-width: 1400px;
  margin: 0 auto;
}
.customer_box_display_grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 3rem;
  gap: 30px;
}
.box_contaner_ditalse{
  background: #212020;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 4px 5px rgba(11, 16, 84, 0.662);
  line-height: 30px;
}
.box_contaner_ditalse h3{
  top: 40px;
  padding-top: 50px;
}
.img_box img{
  margin-top: 20px;
 border: 5px solid orange;
 border-radius: 50%;
 object-fit: cover;
}
 .about_main_contaner{
            margin-top: 0;
        }
.about_footer_display_grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   text-align: center;
   margin-top: 40px;
   max-width: 1400px;
   margin: 0 auto;
   padding: 4rem 1rem;
}
.footer-bc-color{
  background-color: #1b1b1b;
 }        
.footer_adrese_and_ditalse_box h2{
     font-size: 2rem;
     font-family: 'Great Vibes', cursive; 
 }
.footer_adrese_and_ditalse_box a:hover{
     color: orange;
     transition: .3s ease;
}
 .fa-bars-display-block{
    margin-top: 20px;
  }
 .fa-bars-display-block a{
     text-decoration: none;
     color: rgb(255, 255, 255);
     display: block;
     text-align: center;
     margin-bottom: 1rem;
 }
.footer_adrese_and_ditalse_box p{
     margin-top: 20px;
     color: #ebebebf0;
}
.fa-brands-div-color-cange a{
     font-size: 1.5rem;
     color: rgb(255, 255, 255);
}
.fa-brands-div-color-cange{
     margin-top: 20px;
}
 .footer-lest-contant-mt-text-align-center{
     margin-top: 0px;
     padding-bottom: 3rem;
     text-align: center;
     width: 100%;
           
 }
 @media (max-width:650px) {
   .food-all-box-main-div-dispaly-grid{
    display: block;
   }
   .food_box_card{
    margin-top: 20px;
  }
 }
 @media (max-width: 760px) {
     .about_footer_display_grid{
      display: block;
      gap: 3rem;
 }
 .customer_box_display_grid{
    display: block;
    padding: 20px;
  }
  .footer_adrese_and_ditalse_box{
       padding: 0 3rem 0 3rem;
 }
 .footer_adrese_and_ditalse_box{
         margin-top: 30px;
   }
  }
        
  @media (max-width:900px) {
      .navber .links,
      .navber .icon_and_btn_gap{
        display: none;
      }
       .navber .toggle_btn{
        display: block;
        cursor: pointer;
      }
      .dropdown_menu.open{
        display: block;
      }
      
   }
  
   @media (max-width:850px) {
    .about_img_and_ditalse_display_flex{
      display:flex;
      flex-direction:column-reverse;
      text-align: center;
      margin-top: 0;
    }
    .feane_div_font_famely_cange{
      padding: 3rem;
      margin-top: 0;
    }
    .Book_A_able_main_contaner{
      display: block;
      padding: 0;
      gap: 0;
      margin-top: 20px;
    }
    .maps-div{
      margin-top: 20px;
    }
    
   }
@media (max-width:540px) {
  .dropdown_menu{
    left: 2rem;
    width: unset;
    top:65px
  }
  .Order-box-div{
    display: block;
    height: auto;
    padding: 30px;
    align-items: center;
  }
  .about_img_and_ditalse_display_flex{
      display:flex;
      flex-direction:column-reverse;
      text-align: center;
      margin-top: 0;
    }
  .Order-div-continer-display-flex-gap{
    display: grid;
    grid-template-columns: 1fr;
  }
  .food-all-box-main-div-dispaly-grid {
    grid-template-columns: 1fr;
    
  }
  .food_box_card{
    margin-top: 20px;
  }
  .customer_box_display_grid{
    display: block;
    padding: 0;
  }
  header{
    padding: 3px 1rem;
  }
  .title-text-font-famyle-font-size{
    text-align: center;
  }
  .font-number-size-font-famyle{
    text-align: center;
  }
  .text-slide {
   padding: 10px 10px 10px 20px;
  }
  .text-box{
    top: 60px;
  }
  
  .All-foods-nav-menu-test ul {
     gap: 15px;
  }
  .All-foods-nav-menu-test li a {
    padding: 5px 8px;
  }
  .food-all-box-main-div-dispaly-grid{
    padding: 2px;
    margin-top: 30px;
    display: block;
  }
  .container_view_more_btn{
    margin-top: 20px;
  }
  .Order-div-continer-display-flex-gap{
    padding: 0;
  }
}
@media(max-width:768px){
   .Order-div-continer-display-flex-gap{
    padding: 0;
  }
 .customer_box_display_grid{
    display: block;
  } 
}
@media (max-width: 992px) {
  .food-all-box-main-div-dispaly-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
}
